@font-face {
  font-family: reck;
  src: url(./RecklessCondensedS-TRIAL-Book\ copy.woff);
}
@font-face {
  font-family: mid;
  src: url(./midnight-sans-rd-12-semibold-trial.otf);
}
*{
 margin: 0;
 padding: 0;
box-sizing: border-box;
}
html,
body{
height: 100%;
width: 100%;
}
main{
    width: 100%;
  min-height: 100vh;
  overflow: hidden;

  background-color: #FBF9EB;
  /* padding: 1rem 1rem; */
}
nav{
/* width: min(95% ,1200px);  use in mobile 1 approch */ 
  width: 100%;
  border: 0.1rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffffd;
  /* border-radius: 1rem; */
  padding: 1rem 1rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.nav-part-1{
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: clamp(0.4rem,1vw,4rem);
  font-family: reck;
}
.nav-part-1 i{
  font-size: 1.7rem;
  width: 33%;
}
.nav-part-1 h3{
  font-weight: 500;
  display: none;
}
.nav-part-1 .ri-arrow-down-s-line {
  display: inline-block;
  padding: 0.01rem 1.5rem 0.01rem 0.002rem;
  border: 0.2vmin solid black;
  background-color: #C0DBFF;
  border-radius: 50%;
  align-self: center;
  font-weight: 400;
  font-size:1.5rem;
  position: relative;
  transition: all ease-in 0.3s;
}
.nav-part-1 .ri-arrow-down-s-line:hover{
  transform:rotate(180deg);
  background-color:goldenrod;
}
.nav-part-1 i.ri-star-fill{
  background-color: transparent;
  color: goldenrod;
  border: none;
  
} 
.nav-part-2 img{
  width:70%

}
.nav-part-3{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* font-size: clamp(1rem,0.1vw,5rem); */
  font-family: reck;
}
.nav-part-3 h3{
    display: none;
  text-transform: uppercase;
  word-spacing: 0.2rem;
  font-size: clamp(0.5vw,0.8vw,4rem);
  font-weight: 900;
}
.section-1{
  width:100%;
  height:80vh;
  background-color: red;
  background-image: url(https://www.twoleavestea.com/cdn/shop/files/AlpineBerry_mobile.webp?v=1774284087&width=1125.0);
  background-position: center  30%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  gap: 1rem;
  padding: 2rem 1rem;
  font-family: reck;
  position: relative;
  color: white;
}
.section-1 h1{
  font-weight: 100;
  font-size: clamp(3rem,3vw ,5rem);
  /* line-height: 90%; */
  text-align: center;
    align-self: center;

}
.section-1 h4{
  font-weight: 400;
  font-size: 1.15rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
color: #f6eded;
}
.section-1 button{
  padding: 1.2rem 2rem;
  width: 98%;
  border-radius: 2rem;
  border: none;  
  background-color: #292857;
  color: rgb(255, 253, 253);

  transition: all ease 0.4s;
    align-self: center;

}
.section-1 button:hover{
  transform: scale(0.9);
  background-color: #212043;

}
.section-1 i{
  position: absolute;
  padding: 0.8rem;
   left: 80%;
   bottom:clamp(-1.2rem,1vw,-5rem);
  background-color: #212043;
  border-radius: 50%;


}
.section-2 {
display: flex;
flex-direction:column;
gap: 2.5rem;
width: 100%;
/* height: 100%; */
padding: 7rem 1rem;
gap: 4rem;
border-bottom: 2px solid black;
}
.section-2 .sec2-text{
  width: 100%;
font-family:reck;
display: flex;
align-items:center;
justify-content:center;

}
.section-2 .sec2-text h1{
    font-weight:100;
  transform:scaleY(1.2);
  font-size:clamp(2rem,5vw ,4.2rem);
  width: 85%;
 text-align:center;
}
.section-2 .s2-btn1{
  align-self:start;
  transform: rotate(-4deg) scaleY(1.5);
 background-color: #deafef;
 padding: 0.1rem 0.3rem;
 word-spacing:2px;
 border-radius:0.6rem;
  font-size:clamp(1rem,5vw,5rem);
  color: #000;
   font-weight:900;
   transition: all ease 0.2s;
  font-family: mid;
}
.section-2 .s2-btn1:hover{
   cursor:pointer;
   transform: rotate(-4deg) scale(0.9)
}
.s2-Card-tags{
  display: flex;
  overflow-x: auto;
  gap: 1rem;

}
.s2-Card-tags::-webkit-scrollbar {
    display: none;              /* Chrome, Safari, Edge */
}
.card-container1{
  background-color:transparent;
width: clamp(15rem, 18vw, 20rem);
  height: 58vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between;
  flex-shrink: 0;
  padding: 0.4rem 0;
 position: relative;
}

.card{
  background-color: #C1EE91;
  padding:0.81rem;
  width: 100%;
  height: 40vh;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
 position: relative;
    overflow: hidden;
}
.card-container1:nth-of-type(2) .card {
    background: #C8E892;
}
.card-container1:nth-of-type(3) h2{
  font-size: 1.4rem;
}

.card-container1:nth-of-type(3) {
  height: 58.6vh;
  }
.card-container1:nth-of-type(3) .card {
    background: #B1E8C1;
    
}
.card-container1:nth-of-type(4) .card {
    background: #CCE3FF;
}
.card-container1:nth-of-type(4){
    height: 57.3vh;

}
.card-container1:nth-of-type(4) h2{
  font-size: 1.4rem;
}
.card-container1:nth-of-type(4) p{
  font-size: clamp(0.7rem,1.9vw ,1.5rem);
}
.card img{
   object-fit: cover;
  object-position: center;
 height: 73%;
 top: 14%;
 left: 4%;
 
 position: absolute;
 transition: all ease-in-out 0.2s;
}
.card:hover img{
 transform:  scale(1.1);
}
.s2-card-top{
  width: 100%;
  display: flex;
  align-items: center;
    justify-content: space-between;
}
.s2-card-top .card-btn{
  padding: 0.2rem 0.5rem;
  background-color: #ffffff;
  color: #000;
  border: 1px solid black;
  font-size: 1.3rem;
  font-weight: 800;
  font-family: mid;
  border-radius: 8px;
}
.s2-card-btm{
  border-radius: 8px;
  background-color: white;
  padding: 0.3rem 0.7rem;
  border: 1px solid black;
}
.card-container1>h2{
  font-weight: 300;
}
.c-c-end p{
  gap: 2px;
  font-size: clamp(0.9rem,2vw ,1.5rem);
}

.c-c-end{
    display: flex;
  flex-direction: column;
  gap: 1rem;
}
.s2-btn2{
  background-color: #292857;
  align-self: center;
  color: white;
  font-size: clamp(1rem,1.6vw,2rem);
  padding: 1rem 4rem;
  border-radius: 30px;
  transition: all ease 0.2s;
}
.s2-btn2:hover{
  cursor: pointer;
  background-color: white;
  color: #000;
  transform: scale(0.95);
}

.section-7{
  display: flex;
flex-direction:column;

gap: 2.5rem;
min-height: 100vh;
background-color: #FBF9EB;
/* height: 100%; */
padding: 7rem 1rem;
/* padding-bottom: 1rem; */
gap: 4rem;
border-bottom: 2px solid black;
}
.section-7 .s7-text{
  padding: 0rem 1rem;
font-family:reck;
flex-direction: column;
display: flex;
align-items:flex-start;
justify-content:space-between;
gap: 1rem;
}
.section-7 .s7-text .s7-t-h11{
  background-color: #FFB503;
    font-weight:900;
    border-radius: 6px;
    border: 1px solid black;
    font-family: mid;
    transform: rotate(-2deg);
    font-size: clamp(2rem,8vw,4rem);
}

.section-7 .s7-text .s7-t-h12{
  font-family: reck;
  font-weight: 300;
    font-size: clamp(1rem,11vw,2.3rem);
    width: 90vw;

}
.s7-card-container{
  padding: 0rem 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: auto;
}
.s7-card-container::-webkit-scrollbar{
  display: none;    
}
  
.s7-card-tags{
   flex-shrink: 0;
  background-color: #C0DBFF;
  height: 41vh;
  display: flex;
width:18rem;

  flex-direction: column;
  align-items: self-start;
  border-radius: 15px;
  justify-content: space-between;
  overflow: hidden;

}
.s7-large-area{
  position: relative;
  height: 33vh;
  width: 100%;
  padding: 0.8rem 0rem;
  overflow: hidden;
  background-color: #2A2857;
}
.s7-large-area::-webkit-scrollbar{
  display: none;    
}
.s7-large-area h1{
  z-index:5 ;
  padding: 0.1rem 0.5rem;
  border-radius: 6px;
  border: 1px solid black;

  position: relative;
  font-size: 1.4rem;
  left: 3%;
  font-family: mid;
  background-color: white;
  display: inline-block;
  transition: all ease-in-out 0.2s;

}
.s7-large-area img{
  position: absolute;
  z-index: 0;
     object-fit: cover;
  object-position: center;
  width: clamp(10rem,90%,17rem);
   aspect-ratio: 1 / 1;
  top: 0%;
  left: 5%;
  transition: all ease-in-out 0.3s;

}
.s7-card-tags:nth-child(2) img{
  width: 100%;
  left: 0%;
}
.s7-card-tags:nth-child(3) img{
  width: 100%;
  left: 0%;
}
.s7-card-tags:hover img{
  transform: scale(1.05);
}
.s7-card-tags:hover h1{
  transform: rotate(-3deg);
}
.s7-lower-area{
  padding: 1rem 1rem;
  display: flex;
  height: calc(41vh - 33vh);
  align-items: center;
  justify-content: center;
}
.s7-lower-area p{
  width: 80vw;
}
.s7-btn{
     align-self: center;
     padding: 1rem 4rem;
     border-radius: 40px;
     white-space: nowrap;
     font-size: 20px;
     background-color: #2A2857;
     color: white;
     border: none;
     transition: all ease-in-out 0.2s;

}
.s7-btn:hover{
  color: black;
  background-color: white;
}


  .section-3 {
display: flex;
flex-direction:column;
gap: 2.5rem;
width: 100%;
padding: 5rem 1rem;
/* overflow-y: auto; */
}
.s3-1h1{
   font-family: mid;
  background-color: #FF8030;
  font-weight: 700;
   align-self: flex-start;
   padding: 0rem 0.3rem;
   transform: scaleY(1.3) rotate(-2deg);
   border: 1px solid black;
   border-radius: 5px;
}
.s3-2h1{
   font-family: reck;
  font-weight: 200;
   align-self: flex-start;
}
.s3-1input{
   align-self: flex-start;
   padding: 1.3rem 1rem;
   background-color: transparent;
   border: 0.8px solid rgb(49, 48, 48);
   border-radius: 10px;
   font-size: clamp(1rem,6vw,7rem); 
  }
   .s3-dad-div{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
   }
  .s3-dad-div button{
    background-color: #DAEAFF;
   padding: 0.5rem 2rem;
   font-size: 1.7rem;
   font-family: reck;
   border: 1px solid rgb(15, 14, 14);
   border-radius: 12px;
   transition: all ease-in-out 0.3s;
    
  }
    .s3-dad-div button:hover{
      cursor: pointer;
        background-color: #99c0f3;

    }



 .section-4 {
    width: 100%;
   height: 150vh;
   background-position: center;
   background-size: cover;
   padding: 1rem 1rem;
   overflow: hidden;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   background-image: url(https://www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&width=1600);
}
 .s4-leftdiv img{
  width: 180px;
    max-width: 100%;
    position: relative;
    left:clamp(5rem,28vw,12rem);
    top: -19%;
}
.s4-cen{
  display: flex;
  align-items: center;
  justify-content: center;
}
.s4-cen h1{
  text-align: center;
  transform: rotate(-2deg) scaleY(1.1);
  word-spacing: 1px;
  background-color: #99c0f3;
  border: 2px solid black;
  border-radius: 8px;
  max-width: 9rem;
  font-family: mid;
  color: #000;
}
.s4-cen2 h1{
  font-size: 4.5rem;
  line-height: 4rem;
  font-family: mid;
font-weight: 900;
text-align: center;
transform: scaleY(1.1);
}
.s4-cen3 p{
  font-size: 1.8rem;
  font-weight: 300;
 font-family:reck;
  text-align: center;
  width: clamp(10rem,82vw,20rem);
}

.s4-img-box{
  background-color: #c14c15;
  height: 38vh;
  display: grid;
}
.s4-end{
  height: 45vh;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "s4-end-child1 s4-end-child2"
  "s4-end-child3 s4-end-child3";
}
.s4-end-child1 {
  grid-area: s4-end-child1;
  display: flex;
  align-items: center;
  justify-content: center; /* Added for vertical centering */
  flex-direction: column;
  gap: 1rem;
}

.s4-end-child2 {
  grid-area: s4-end-child2;
  display: flex;
  align-items: center;
  justify-content: center; /* Added for vertical centering */
  flex-direction: column;
  gap: 1rem;
}

.s4-end-child3 {
  grid-area: s4-end-child3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.s4-end-child1 h5 ,.s4-end-child2 h5,.s4-end-child3 h5{
  text-align: center;
  font-size: 0.8rem;
}
/* ✅ Fix for perfect circles */
.s4-c-c-circle1,
.s4-c-c-circle2,
.s4-c-c-circle3 {
  height: 15vh;
  aspect-ratio: 1 / 1; /*Locks width to equal height automatically*/
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.s4-c-c-circle1 {

  background-image: url(./Quality_without_pretense.svg);
}

.s4-c-c-circle2 {
  background-image: url(./care_for_ppl_1.svg);
}

.s4-c-c-circle3 {
  background-image: url(./transparent_sourcing.svg);

}
.s4-btn1 {
  padding: 1rem  35%;
  border-radius: 30px;
  font-size:1.4rem;
  transition: all ease-in-out 0.2s;
  
  /* 🔒 Prevents text from wrapping into multiple lines */
  white-space: nowrap; 
}
.s4-btn1:hover{
  background-color: #2A2857;
  color: white;
}

  .section-5 {
min-height: 94vh;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 0.8fr 1.4fr;
grid-template-areas: 
"s5-img"
"s5-content";
}
.s5-img{
  grid-area: s5-img;
  background-color: #99c0f3;
  background-image: url(https://www.twoleavestea.com/cdn/shop/files/Our_Cafe_Wholesale_Partners.webp?v=1773753185&width=1350.0);
  background-position: center;
  background-size: cover;
}

.s5-content {
  grid-area: s5-content;
  background-color: #2A2857;
  padding: 1.5rem 0rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5vh;                  /* Slightly reduced gap for safer vertical spacing */
  flex-direction: column;
  box-sizing: border-box;    /* Ensures internal padding doesn't swell the container width */
}
.s5-content h1{
 text-align: center;
 font-family:reck;
 font-size: clamp(2rem,17vw,3.5rem);
 color: white;
 font-weight: 100;
}
.s5-content p{
   text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 width: 75vw;
 font-size:22px;
 color: white;
 font-weight: 500;
}
.s5-btn{
  padding: 1rem 5.8rem;
  align-self: center;
  white-space: nowrap; 
  border-radius: 30px;
  font-size: 1rem;
  transition: all ease-in-out 0.2s;
}
.s5-btn:hover{
transform: scale(0.93);
}
  .section-6{
    min-height: 130vh;
    background-color: #9F6429 ;
    display: grid;
    grid-template-columns: 1fr;
   grid-template-rows: 2fr 3fr;
   grid-template-areas: 
   "s6-upper"
   "s6-lower";
  }
  .s6-upper{
    grid-area: s6-upper;
    padding: 4rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    flex-direction: column;

  }
  .s6-upper  #h11{
    display: inline-block;
    padding: 0rem 0.1rem;
     background-color: #FFCB96;
  border-radius: 5px;
  transform: rotate(-2.5deg) scaleY(1.5) scaleX(1.6);
  word-spacing:2px;
  border: 1px solid black;
  font-size:clamp(1rem,8vw,5rem);
  color: #000;
   font-weight:900;
  font-family: mid;
  }
  .s6-upper #h12{
    text-align: center;
    color: white;
    font-family: mid;
    font-size: clamp(3rem,19vw,4rem);
    line-height: 3.5rem;
  }
   .s6-upper p{
    color: white;
   }
  .s6-lower{
    grid-area: s6-lower;
    /* background-color: #9f8b73; */
    padding: 3rem 1rem;
    padding-top: 8rem;

  }
  .s6-lower-child{
    border-radius: 15px;
    height: 65vh;
    background-color: #FFCB96;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 0.5rem 26px;
  }
  .s6-lower-child #lh11{
     background-color: #F09F54;
  border-radius: 5px; 
  line-height: 3rem;
  transform: rotate(-3deg);
  word-spacing:1px;
  border-radius: 1px solid black;
  font-size:clamp(1rem,13vw,5rem);
  color: #000;
   font-weight:900;
  font-family: mid;
  }
  .s6-img{  
      width: 70vw;
      transform: scale(1.5);
  left: -5rem;
position: relative;
     bottom: clamp(2.3rem,2.2%,20rem);
    }
   .s6-lower-child #lh12{

    font-family: reck;
    font-weight: 100;
    font-size: clamp(2.5rem,12vw,8rem);
    width: 43vw;
    text-align: center;
   }
   .s6-lower-child p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    /* transform: scaleY(0.9); */
    width: 72%;
    /* font-size: clamp(0.8rem,6vw,1.3rem); */
    text-align: center;
  
   }
   .s6-btn{
    padding: 0.7rem  65px;
    background-color: white;
    font-size:clamp(0.4rem,8vw,2rem);
    line-height: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    white-space: wrap;
    border-radius: 30px;
    transform: scaleY(0.9) scaleX(0.9);
    border: none;
    transition: all ease-in-out 0.2s;
   }
      .s6-btn:hover{
        background-color: #323160;
        color: white;
      }
 @media (min-width:412px) {
  .s4-end{
  height: 25vh;
  width: 95vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-areas: 
  "s4-end-child1 s4-end-child2 s4-end-child3";

  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .s4-end-child1 h5 ,.s4-end-child2 h5,.s4-end-child3 h5{
  text-align: center;
  font-size: 0.8rem;
  width: 5rem;
}
.s4-c-c-circle3 {
  background-image: url(./transparent_sourcing.svg);
   height: 7.3rem;
   position: relative;
   margin-top: -12%;

}}
@media (min-width:768px) {
  .s2-card-tags::-webkit-scrollbar {
    display: none;
}
  .section-2 .s2-btn1{
 word-spacing:2px;
 border-radius:0.6rem;

  font-size: 2rem;
  }
  .section-2 .sec2-text h1{
    font-weight:100;
  transform:scaleY(1.2);
  font-size:clamp(1.5rem,5vw ,4.2rem);
  width: 50%;
 text-align:center;
}
 .card-container1{
  height: clamp(30rem,43vh,58rem);
  width: clamp(15rem, 20vmax,30rem);
 }
 .card-container1:nth-of-type(3){
    height: clamp(31rem,43vh,55rem);

 } 
   .card-container1:nth-of-type(4) {
    background-color: transparent;
    height: clamp(31rem,43vh,55rem);
}

.card img{
   object-fit: cover;
  object-position: center;
 height: clamp(30%,55%,65%);
 top: 12%;
 left: 4%;
 
}
.card{
  height: clamp(20rem,28vh,45rem);
}

.s3-1input{
   align-self: flex-start;
   padding: 1rem 25rem 1rem 2rem;
   background-color: transparent;
   border: 1px solid rgb(49, 48, 48);
   border-radius: 10px;
   font-size: clamp(1rem,4vw,6rem); 
   font-family: reck;
  }

.s4-cen2 h1{
  font-size: 5rem;
  line-height: 4rem;
  font-family: mid;
font-weight: 900;
text-align: center;
transform: scaleX(1.1);
}

 .s4-end{
  width: 55vw;
 }
 .s4-btn1 {
  padding: 1rem  43%;
  border-radius: 30px;
  font-size:1.3rem;
  transition: all ease-in-out 0.2s;
  
  /* 🔒 Prevents text from wrapping into multiple lines */
  white-space: nowrap; 
}
 .s4-leftdiv img{
  width: 180px;
    max-width: 100%;
    position: relative;
    left:clamp(5rem,38vw,25rem);
    top: -19%;
}
  .section-5 {
width: 100%;
height: 100vh;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 2fr 1fr;
grid-template-areas: 
"s5-img"
"s5-content";
}
.s5-content h1{
 text-align: center;
 font-family:reck;
 width: 45vw;
 font-size: clamp(2rem,6vw,3.5rem);
 color: white;
 font-weight: 100;
}
.s5-btn{
  padding: 1rem 5.8rem;
  align-self: center;
  white-space: nowrap; 
  border-radius: 30px;
  font-size: 1rem;
}
/* s-6 start */
 .section-6{
    min-height: 130vh;
    background-color: #9F6429 ;
    display: grid;
    grid-template-columns: 1fr;
   grid-template-rows: 1.5fr 3.5fr;
   grid-template-areas: 
   "s6-upper"
   "s6-lower";
  }
.s6-upper{
  justify-content: center;
  gap: 20px;
}
.s6-upper #h11{     
  border-radius: 5px; 
  line-height: 2.5rem;
  transform: rotate(-2deg);
  word-spacing:2px;
  border-radius: 1px solid black;
  font-size:clamp(1rem,5vw,4rem);
  color: #000;
   font-weight:900;
  font-family: mid;
  }
    .s6-upper #h12{
    text-align: center;
    color: white;
    font-family: mid;
    width: 50%;
    font-size: clamp(3rem,8vw,5rem);
    line-height: 3.5rem;
  }
  .s6-img{  
      width: 70vw;
      transform: scale(1.8);
  left: -10rem;
position: relative;
     bottom: clamp(6rem,18%,20rem);
  
    }
    .s6-lower{
  padding-top: 4rem;
}
.s6-lower-child{
  height: 120vh;
  padding-bottom: 5rem;
}
     .s6-lower-child #lh11{
     background-color: #F09F54;
  border-radius: 5px; 
  line-height: 2.5rem;
  transform: rotate(-3deg);
  word-spacing:1px;
  border-radius: 2px solid black;
  font-size:clamp(1rem,5.3vw,5rem);
  color: #000;
   font-weight:900;
  font-family: mid;
  }
   .s6-lower-child #lh12{

    font-family: reck;
    font-weight: 100;
    font-size: clamp(2.3rem,6vw,8rem);
    width: 21vw;
    text-align: center;
   }
   .s6-lower-child p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    /* transform: scaleY(0.9); */
    width: 85%;
    /* font-size: clamp(0.8rem,6vw,1.3rem); */
    text-align: center;
  
   }
   .s6-btn{
    padding: 0.7rem  43px;
    background-color: white;
    font-size:clamp(0.4rem,3vw,2rem);
    line-height: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    white-space: wrap;
    border-radius: 30px;
    transform: scaleY(0.9) scaleX(0.9);
    border: none;
   }
   .section-7 .s7-text .s7-t-h11{
    font-size: clamp(1rem,4vw,4rem);
}

.section-7 .s7-text .s7-t-h12{
  font-family: reck;
  font-weight: 300;
    font-size: clamp(1rem,9vw,2rem);
    width: 70vw;

}
}
@media (min-width:1024px) {
  nav{
/* width: min(95% ,1200px);  use in mobile 1 approch */ 
  width:100%;
  border: 0.1rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffffd;
  /* border-radius: 1rem; */
  padding: 1rem 1rem 1rem 0rem;
  position: sticky;
  top: 0;
  left: 0;
  /* z-index: 1000; */
}
  .nav-part-1 .ri-menu-line{
    display:none;
  }
  .nav-part-1 h3 .ri-star-fill{
    position: relative;
    left: -1rem;
  }
  .nav-part-1 h3{
  display: block;
  font-size :1rem;
  align-self:start
}
.nav-part-1 h3 i{
  font-weight: 500;
  padding: 1rem 2rem;
}
.nav-part-2 img{
  width:65%;
  position: relative;
}
.nav-part-3 h3{
    display: block;
  text-transform: uppercase;
  word-spacing: 0.2rem;
  font-size: clamp(0.5vw,0.8vw,4rem);
  font-weight: 900;
}
.section-1 h1{
  max-width:  clamp(20rem,15vw,55rem);
  font-weight: 100;
  font-size: clamp(4rem,3vw ,5rem);
  align-self: flex-start;
  text-align:start;
}
.section-1 h4{
  max-width: clamp(27rem,3vw,35rem);
  font-weight: 400;
  font-size: 1.15rem;
  text-align: start;
  font-family: 'Times New Roman', Times, serif;
color: #f3efef;
}
.section-1 button{
  padding: 1rem 1.7rem;
  width: clamp(13%,2vw,15%);
  border-radius: 2rem;
  border: none;  
  background-color: #292857;
  color: rgb(255, 253, 253);
  transition: all ease 0.2s;
    align-self: flex-start;

}
.section-1 i{
  position: absolute;
  padding: 0.8rem;
   left: 90%;
   bottom: -1.5rem;
  background-color: #212043;
  border-radius: 50%;

}




  .section-2 .sec2-text h1{
    transform: scale(0.9);
    font-weight:100;
  font-size:clamp(1rem,4vw ,4rem);
  width: 57%;

 text-align:center;
}
  .section-2 .s2-btn1{
 word-spacing:2px;
 border-radius:0.4rem;
    align-self: center;
    transform: scaleX(1.4) scaleY(1.3) rotate(-3deg);
  font-size: 2rem;
  }
  .card-container1{
  background-color:transparent;
  width: clamp(18rem, 22vw, 25rem);
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between;
  flex-shrink: 0;
  padding: 0.4rem 0rem;
  background-color: transparent;
  position: relative;
}
.s2-Card-tags{
    display: flex;
    /* gap: rem; */
    align-items: flex-start;
     justify-content:space-between;
      overflow-x:auto;
}

.card{
  background-color: #C1EE91;
  padding:0.81rem;
  width: 100%;
  height: 43.5vh;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
 position: relative;
   
}
 .card-container1:nth-child(2){
  height: 68vh;

 }
  .card-container1:nth-child(2) .card{
    height: 43.5vh;
  }
  .card-container1:nth-child(2) .c-c-end p{
    font-size: 1.3rem;
  }
   .card-container1:nth-child(3){
  height: 65vh;
  padding-bottom: 0rem ;
 }
  .card-container1:nth-child(3) .card{
    height: 43.5vh;
  }
  .card-container1:nth-child(3) .c-c-end p{
    font-size: 1.2rem;
  }
   .card-container1:nth-child(4){
  height: 65vh;
  padding-bottom: 0rem ;
 }
  .card-container1:nth-child(4) .card{
    height: 43.5vh;
  }
  .card-container1:nth-child(4) .c-c-end p{
    font-size: 1rem;
  }
  .card-container1:nth-child(4)>h2{
    font-size: 1.3rem;
  }
    .card-container1:nth-child(4) .s2-card-top p{
    font-size: 1rem;
  }
   .card-container1:nth-child(4) .s2-card-btm p{
    font-size: 1rem;
  }
  .card img{
    top:22%;
    left: 10%
  }
  .section-3{
    padding: 6rem 11rem;

  }
  .s3-1input{
   align-self: flex-start;
   padding: 1rem 5rem 1rem 2rem;
   background-color: transparent;
   border: 1px solid rgb(49, 48, 48);
   border-radius: 10px;
   font-size: clamp(1rem,2vw,6rem); 
   font-family: reck;
  }
  .s3-1h1{
    font-family: mid ;
    line-height: 2.8rem;
    font-size: 3rem;
  }
  .s3-2h1{
    font-size: clamp(3rem ,4.2vw,7rem);
  }

   .s4-end{
  width: clamp(15rem,45vw,35rem);

 }
 .s4-end .s4-end-child1 h5{
  width: 12rem;
 }
  .s4-end .s4-end-child2 h5{
  width: 10rem;
 }

 .s4-btn1 {
  padding: 1rem 7%;
  border-radius: 30px;
  font-size:1.3rem;
  transition: all ease-in-out 0.2s;
  
  /* 🔒 Prevents text from wrapping into multiple lines */
  white-space: nowrap; 
}
 .s4-leftdiv img{
  width: 180px;
    max-width: 100%;
    position: relative;
    left:clamp(5rem,38vw,45rem);
    top: -19%;
}
.s4-c-c-circle3 {
  background-image: url(./transparent_sourcing.svg);
  width: 8.5rem;
  height: 8.5rem;
}

.s4-end-child3{
  gap:15px;
  margin-left: 5%;
}

.s4-end-child3 h5{
  /* background-color: #99c0f3; */
  margin-bottom: -8%;
}
.s4-cen3 p{
  font-size: 4rem;
  font-weight: 200;
 font-family:reck;
  text-align: center;
  width: clamp(10rem,88vw,99rem);
  /* background-color: #212043; */
}
  .section-5 {
width: 100%;
height: 80vh;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows:  1fr;
grid-template-areas: 
"s5-img s5-content";
}
.s5-img{
  grid-area: s5-img;

  background-image: url(https://www.twoleavestea.com/cdn/shop/files/Our_Cafe_Wholesale_Partners.webp?v=1773753185&width=1350.0);
  background-position: center;
  background-size: cover;
}

.s5-content {
  grid-area: s5-content;
  background-color: #2A2857;
  padding: 1.5rem 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5vh;                  /* Slightly reduced gap for safer vertical spacing */
  flex-direction: column;
  box-sizing: border-box;    /* Ensures internal padding doesn't swell the container width */
}
.s5-content h1{
text-align: start;
 font-family:reck;
 font-size: clamp(2rem,17vw,5.5rem);
 color: white;
 width: 40vw;
 font-weight: 100;
}
.s5-content p{
  text-align: start;
 width: 25vw;
}

.s5-btn{
  align-self: start;
  padding: 1rem 5rem;
  white-space: nowrap; 
  border-radius: 30px;
  font-size: 1rem;
}
.section-6{
    min-height: 100vh;
    padding: 1rem 2rem;
    background-color: #9F6429 ;
    display: grid;
    grid-template-columns: 1fr;
   grid-template-rows: 1.7fr 2.2fr;
   grid-template-areas: 
   "s6-upper"
   "s6-lower";
  }
.s6-upper{
  justify-content: center;
  gap: 29px;
}
.s6-upper #h11{     
  line-height: 4rem;
  word-spacing:1px;
  border-radius: 1px solid black;
  font-size:clamp(1rem,4vw,7rem);
  }
    .s6-upper #h12{
    text-align: center;
    width: 58%;
  }
  .s6-upper p{
    font-size: large;
  }
  .s6-img{  
      width: 45vw;
      transform: scale(1);
  left: -20rem;
position: relative;
     bottom:-25rem;
     /* display: none; */
  
    }
    .s6-lower{
  padding: 0rem 0rem;
  
}
.s6-lower-child{
  height: 60vh;
  padding-bottom: 5rem;
}
     .s6-lower-child #lh11{
  border-radius: 8px; 
  position: relative;
  left: 9rem;
  line-height: 3.5rem;
  padding: 0rem 0.2rem;
  transform: rotate(-2deg);
  border: 1px solid rgb(13, 13, 13);
  font-size:clamp(1rem,4vw,5rem);

  }
   .s6-lower-child #lh12{
  position: relative;
  left: 13rem;
    font-size: clamp(2.3rem,4vw,8rem);
    width: 14vw;
    text-align: start;
   }
   .s6-lower-child p{
      position: relative;
  left: 20rem;
    transform: scaleY(1);
    width: 30%;
    /* background-color: #212043;  */
    font-size: clamp(0.8rem,6vw,1.3rem);
    text-align: start;
  
   }
   .s6-btn{
          position: relative;
  left: 12.5rem;
    padding: 1.2rem  70px;
    font-size:clamp(0.4rem,1.3vw,2rem);
    line-height: 1.3rem;
    font-weight: 100;
    border-radius: 35px;
    transform: scaleY(0.9) scaleX(0.9);
    border: none;
   }

   .s7-card-tags{
   flex-shrink: 0;
  background-color: #C0DBFF;
  height: 40vh;
  display: flex;
width:18rem;

  flex-direction: column;
  align-items: self-start;
  border-radius: 15px;
  justify-content: space-between;
  overflow: hidden;

}
.s7-large-area{
  position: relative;
  height: 33vh;
  width: 100%;
  padding: 0.8rem 0rem;
  overflow: hidden;
  background-color: #2A2857;
}

.s7-large-area img{
  position: absolute;
  z-index: 0;
     object-fit: cover;
  object-position: center;
  width: clamp(10rem,95%,17rem);
   aspect-ratio: 1 / 1;
  top: 1%;
  left: 3%;
  transition: all ease-in-out 0.3s;

}

.s7-card-tags:nth-child(2) img{
  width: 100%;
  left: 0%;
  top: 0%;
}
.s7-card-tags:nth-child(3) img{
  width: 100%;
  left: 0%;
  top: 0%;

}
.section-7 .s7-text{
  align-self: center;
  width: 60vw;
}
      .section-7 .s7-text .s7-t-h11{
    font-size: clamp(1rem,4vw,3rem);
}

.section-7 .s7-text .s7-t-h12{
  font-family: reck;
  font-weight: 300;
    font-size: clamp(1rem,3.7vw,3.5rem);
    width: 100%;

}
  }